.dropdown-box {
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
    overflow: hidden;
    height: 0;
    background-color: white;
    transition: height .5s;
    border-top: 1px solid transparent;
}

.header-nav:hover>li:hover .dropdown-box{
    border-top-color:#e0e0e0;
    box-shadow: 0 2px 5px  rgba(0,0,0,.1);
    z-index: 51;
}
.header-nav:hover .dropdown-box{
    height: 230px;
}


/*------------------------------------------*/
.header-nav-box {
    width: 850px;
    height: 100px;
    float: left;
    /*position: relative;*/
}


.header-nav{
    width: 550px;
    height: 88px;
    padding-top: 12px;
    padding-left: 0;
    margin: 0 0 0 172px;
    list-style: none;
}


/*------------------------------------*/
.header-nav > li {
    padding: 26px 10px 38px 10px;
    float: left;
    font-size: 1.6rem;
}

.header-nav > li:hover .text{
    color: #FF6700;
}


/*-----------------------------------------------------*/


.h-inner-ul {
    display: flex;
    height: 230px;
    width: 100%;
    list-style-type: none;
    padding: 0;
}

.h-inner-ul > li {
    flex: 1;
}


.hil {
    display: flex;
    margin-top: 2px;
}

.hil > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hil > div > .part-card1 {
    flex: 6;
}

.hil > div > .part-card2 {
    font-size: .8rem;
    flex: 1;

}

.hil > div > .part-card3 {
    flex: 1;
    color: #FF6700;
    font-size: .8rem;
}

.part-card1 > img {
    margin-top: 30px;
    height: 110px;
    width: 160px;
    object-fit: contain;
}


/*---------------------------------------------------*/

.site-header {
    height: 100px;
    position: relative;
}

.site-header::before {
    content: " ";
    display: flow-root;
}

.header-logo {
    height: 56px;
    width: 62px;
    margin-top: 22px;
    float: left;
}

.logo-link {
    display: block;
    height: 100%;
    width: 100%;
    background: 0 0/contain no-repeat url("../pics/logo-mi2.png");
}

/*------------------------------------------*/

.header-search {
    width: 296px;
    height: 50px;
    float: right;
    margin-top: 25px;
    position: relative;
}

.search-text {
    padding: 0 20px;
    height: 100%;
    width: 244px;
    border: 1px solid #eee;
    outline: 0;
    float: left;
    border-radius: 0;
}

.search-btn {
    border: 1px solid #eee;
    border-left: 0;
    background-color: white;
    height: 100%;
    font-size: 2.5rem;
    width: 52px;
    float: right;
}

.search-text:focus, .search-text:focus + button {
    border-color: #FF6700;
}

.search-text:focus ~ ul {
    display: block;
}

.header-search > ul {
    z-index: 98;
    background-color: #FFF;
    position: absolute;
    margin: 0;
    padding: 0 0 10px 0;
    top: 100%;
    display: none;
    border: 1px solid #FF6700;
    border-top: 0;
    width: 244px;
}

.header-search > ul > li {
    padding: 10px;
    font-size: .8rem;
    height: 25px;
    list-style-type: none;
}

::-webkit-search-cancel-button {
    display: none;
}

