body>*{
margin:0;
padding:0;}
 .top{
  height: 150px;
  width: 150px;
  font-size:0;
}
#d1 .top>div{
  height: 50px;
  width: 50px;
  box-sizing:border-box;
  border-left:3px solid blue;
  border-top:3px solid blue;
  float: left;
  position: relative;
}
#d1 .top>div:nth-child(n+7){
  border-bottom:3px solid blue;
}
#d1 .top>div:nth-child(3n+3){
  border-right:3px solid blue;
}

#d1 .top>div:hover::after{
  position:absolute; 
  content:'';
  height:100%;
  width: 100%;
  border: 3px solid red;
  top:-3px;
  left: -3px;
  z-index:1;

}
/*   ======================*/
#d2 table {
height: 150px;
width: 150px;
border-collapse:collapse;
}
td{
 border: 3px solid black; 
 position:relative;
}
td:hover::after{
  position:absolute; 
  content:'';
  height:46px;
  width: 46px;
  border: 3px solid red;
  top:-3px;
  left: -3px;
}
/*=======================  */
#d3>div {
height: 150px;width:170px;font-size:0; }
#d3>div>div{
  position: relative;
  height: 50px;
  width: 50px;
  /* box-sizing:border-box; */
  display: inline-block;
  /* background-color: blue; */
  border:3px solid blue;
}
#d3>div>div:not(:nth-child(n+7)){
  border-bottom:3px solid transparent;
/* margin-bottom:-3px; */
}
#d3>div>div:not(:nth-child(3n+1)){
/* margin-left:-3px; */
  border-left:3px solid transparent;
}
#d3>div>div:hover{
border:3px solid red;}
