.table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
}
.table > tbody,
.table > thead {
  margin: 20px;
}
.table tr > * {
  padding-left: 8px;
  height: 40px;
}
.table tr {
  border-bottom: 1px solid #dee2e6;
}
.table > thead > tr {
  border-bottom: 1px solid #212529;
}
.table-striped > tbody > tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.table-dark {
  color: white;
  background-color: #212529;
}
.table-dark tr {
  border-bottom: 1px solid #373b3e;
}
.table-dark > thead > tr {
  border-width: 1px;
  border-style: solid;
  border-color: #fff;
}
.table-dark.table-striped > tbody > tr:nth-child(odd) {
  background-color: #373b3e;
}

.table-bordered td,
.table-bordered th {
  border-width: 1px;
  border-style: solid;
  border-color: #dee2e6;
}

.table-borderless tr {
  border: 0;
}
.table-borderless > thead > tr {
  border: 0;
}

.table-hover.table-dark tr:hover {
  background-color: #323539;
}
.table-hover tr:hover {
  background-color: rgb(236, 236, 236);
}
